@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hidden::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-hidden::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 3px;
}
.scrollbar-hidden::-webkit-scrollbar-track {
  background: transparent;
}

.submenu {
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
}
.submenu.open {
  max-height: 500px; /* Adjust based on content */
}


