@tailwind base;
@tailwind components;
@tailwind utilities;


.highlight-word {
  background-color: #d1d5db;
  transition: background-color 0.3s ease;
}
/* Hide scrollbar but allow scrolling */
.scrollbar-hidee::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidee {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-hidden::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 3px;
}
.scrollbar-hidden::-webkit-scrollbar-track {
  background: transparent;
}

.submenu {
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
}
.submenu.open {
  max-height: 500px; /* Adjust based on content */
}
